@inherits Master

<a class="JokerStart" onmousedown="BonusJokerNextQuestion()" id="BonusJoker">
    <div class="Joker" id="BonusJokerGumb">
        <div>

        </div>
        <div class="JokerBeseda">

            <p id="Igraj" class="JokerBesedaFont"> BONUS  </p>

        </div>
        <div>

        </div>

    </div>
</a>

@code {

}
