@inherits Master

<div class="QuestionAnswers">
    <button id="A" onmousedown="GivenAnswerConsequence(); isRightBonus()" onkeypress="GivenAnswerConsequence(); isRightBonus()" class="AnswerA">
    </button>
    <button id="B" onmousedown="GivenAnswerConsequence(); isRightBonus()" onkeypress="GivenAnswerConsequence(); isRightBonus()" class="AnswerB">
    </button>
    <button id="C" onmousedown="GivenAnswerConsequence()" onkeypress="GivenAnswerConsequence()" class="AnswerC">
    </button>
    <button id="D" onmousedown="GivenAnswerConsequence()" onkeypress="GivenAnswerConsequence()" class="AnswerD">
    </button>

</div>

@code {

}
