@inherits IgraJoker
@using System.Threading;

    <div class="Odstopi">
        <button @ref="refGumbOdstopi" class=@classGumbOdstopi id="gumbOdstopi" onclick="oneDownAndFinish()">
            <p>Odstopi</p>
        </button>
    </div>


@code {

}
